* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Manrope', sans-serif;
}
* {
	font-family: 'Manrope', sans-serif;
}

body {
	overflow-x: hidden;
}
html,
body {
	max-width: 100%;
}
